<component name="external-counter">
  <div class="background inline-flex gap-2 items-center">
    <button onclick="dec()" class="px-2 py-1 bg-gray-500 text-white rounded hover:bg-gray-600">-</button>
    <span class="font-semibold text-lg">{value}</span>
    <button onclick="inc()" class="px-2 py-1 bg-blue-500 text-white rounded hover:bg-blue-600">+</button>
    <button onclick="value = 0" class="px-2 py-1 bg-red-500 text-white rounded hover:bg-red-600">exset</button>
  </div>
  <script>
    scope(class {
      constructor({ value = 0 }) {
        this.value = value
      }
      inc() { this.value++ }
      dec() { this.value-- }
    })
  </script>

  <style>
    .background {
      background-color: lime;
    }
  </style>
</component>
